@charset "UTF-8";

.header {
	float: top;
	width: 100%;
	min-height: 60px
}

.left-panel {	
    float: left;
    width: auto;
    min-height: 500px;
    
    /* Border
    border-left-style: dotted;
    border-top-style: dotted;
    border-width: 5px;
    */
}

.right-panel {	
	float: left;
    min-width: 500px;
    min-height:350px;
    border-style: double;    
}

.button {
	width: 100%;
}

.column-separator {
	float: left;
	width: 40px;
	min-height: 10px;
}

.datalist-noborder .ui-widget-content {
	border: none;
}